@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
@import "tailwindcss";

@theme {
    --font-euclid: "Euclid Circular A", sans-serif;
    
    --color-siam: #5f6750;
    --color-woodsmoke: #1d1d1d;
}

@layer components {
    .flex-center {
        @apply flex flex-col justify-center items-center gap-4;
    }
}

:root {
    background: #f7f7f7;
    color: #1d1d1d;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Euclid Circular A", sans-serif;
}

.bg-onboarding {
    background: linear-gradient(180deg, #f7f5fe 60%, #e8e7fc 100%);
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
